h1 {
    color: rgb(237, 225, 225);
    border: 2px solid rgb(152, 211, 177);
    font-family: Arial, Helvetica, sans-serif;
}

.dip {
    color: rgb(156, 156, 202);
    border: 3px solid #BEC286;
    font-weight: 200;
}

.edit {
    height: 300px;
    width: 300px;
    border-radius: 300px;
    margin: 10px 10px 0px 800px;
}